body {
  font-family: Arial;
  color: white;
  text-align: center;

  
}

/* CATEGORY */
.categories {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  width: 100%;
  height: 200px;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.card p {
  padding: 10px;
}

.card:hover {
  transform: scale(1.05);
}

/* QUIZ */
.quiz-container {
  background:rgba(0,0,0,0.5);
  backdrop-filter: blur(15px);
  padding: 30px;
  width: 400px;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
}
#question{
  font-size: 22px;
  margin-bottom: 20px;
}

button {
  display: block;
  margin: 10px 0;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.correct { background: green; }
.wrong { background: red; }

#progress-bar {
  background: #555;
  height: 10px;
}

#progress {
  background: lime;
  height: 10px;
  width: 0%;
}

/* ANIMATION */
.fade-out {
  opacity: 0;
  transition: 0.5s;
}

.fade-in {
  opacity: 1;
  transition: 0.5s;
}

@media (max-width: 600px){
  .categories{
    grid-template-columns: 1fr;
  }
}
  
